/* Arriba Olas */
.arriba1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 5;
}

.arriba1 svg {
    position: relative;
    display: block;
    width: calc(300% + 2px);
    height: 140px;
}

.arriba1 .relleno_arriba {
    fill: #135f0c;
}

/* Contenedor general */
.container {
    width: min(100% - 15px, 840px);
    margin-inline: auto;
}

/* COLORES */
.color-green {
    color: rgb(16, 69, 16);
}

/* Menú  navegación */

.navbar {
    position: absolute;
    margin-top: 30px;
    display: flex;
    z-index: 5;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    padding-right: 40px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#nafarnav {
    font-size: x-large;
    margin-left: 30px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s ease;
}

ul:hover li a {
    color: #157125;
}

ul:hover li a:not(:hover) {
    color: rgb(0, 0, 0);
    opacity: 0.3;
    filter: blur(0.4px);
}

#toggler, .navbar label {
    display: none;
}


/*Inicio Sesión */

.ini_ses a {
    color: rgb(23, 149, 40);

}

/* Otra medida */

@media screen and (max-width: 800px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        position: relative;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        z-index: 30;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-right: 20px;
    }

    #toggler:checked~.menu {
        max-height: 100%;

    }
}